body {
    height: auto;
	width: auto;
	max-height: auto;
	max-width: auto;
    position: static;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
}

#wrongWayPortrait {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #c8d6cd;
    background-image: url('../images/turn-p.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    z-index: 2;
}

#wrongWayLandscape {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #c8d6cd;
    background-image: url('../images/turn-l.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    z-index: 2;
}

#ph_game {
    top: -50px;
    left: 50vh; 
    height:93vh; /*vh stands for view-port height, 1vh is 1% of screen height*/
	z-index: 9; 
}


#CaptureButton {
	position: fixed;
    top: 88%;
    left: 15%;
    transform: translate(-10%, -50%);
}

#CloseButton {
	position: fixed;
    top: 10%;
    left: 90%;
    transform: translate(-120%, -50%);
}