body {
    height: auto;
	width: auto;
	max-height: auto;
	max-width: auto;
    position: static;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
}

#wrongWayPortrait {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    background-image: url('../images/turn-p.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    z-index: 2;
}

#wrongWayLandscape {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    background-image: url('../images/turn-l.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    z-index: 2;
}

#ph_game {
    
    left: 50vh; 
    height:100vh; /*vh stands for view-port height, 1vh is 1% of screen height*/
 z-index: 9;
}

#buttonLeft {margin-left:50px;} /* But with a on clicked parameter instead of active */

#ParentsCornerButton{	
position: absolute;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);	
	
}

#CaptureButton {
 position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
}